@import "tailwindcss";

@theme {
  /* --- COULEURS PRINCIPALES (TACTICAL) --- */
  --color-primary: #fbffab;
  --color-primary-dim: #e4ef00;
  --color-primary-container: #eaf500;
  --color-on-primary: #5e6300;
  --color-on-primary-container: #565b00;

  --color-secondary: #ff51fa;
  --color-secondary-dim: #ff51fa;
  --color-secondary-container: #a900a9;
  --color-on-secondary: #400040;
  --color-on-secondary-container: #fff5f9;

  --color-tertiary: #c1fffe;
  --color-tertiary-dim: #00e6e6;
  --color-tertiary-container: #00ffff;
  --color-on-tertiary: #006767;
  --color-on-tertiary-container: #005d5d;

  /* --- SURFACES ET FONDS --- */
  --color-background: #0e0e0e;
  --color-surface: #0e0e0e;
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #adaaaa;

  --color-surface-bright: #2c2c2c;
  --color-surface-dim: #0e0e0e;
  --color-surface-variant: #262626;

  --color-surface-container-lowest: #000000;
  --color-surface-container-low: #131313;
  --color-surface-container: #1a1919;
  --color-surface-container-high: #201f1f;
  --color-surface-container-highest: #262626;

  /* --- ÉTATS ET BORDURES --- */
  --color-outline: #767575;
  --color-outline-variant: #484847;
  --color-error: #ff7351;
  --color-error-dim: #d53d18;
  --color-error-container: #b92902;
  --color-on-error: #450900;

  /* --- TYPOGRAPHIE --- */
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  /* --- BORDURES (BRUTALISTE : 0px) --- */
  --radius-none: 0px;
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
}

/* Importation des polices après le thème */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700;900&family=Inter:wght@300;400;500;700&display=swap");

/* Tes styles personnalisés globaux */
@layer utilities {
  .scanline-overlay {
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
                linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
}